[submodule "device-radio-desktop-cxx-qt"]
	path = device-radio-desktop-cxx-qt
	url = https://github.com/rbktech/device-radio-desktop-cxx-qt.git
[submodule "device-radio-desktop-cxx-wx"]
	path = device-radio-desktop-cxx-wx
	url = https://github.com/rbktech/device-radio-desktop-cxx-wx.git
